#home {
    background: url("https://images.pexels.com/photos/97077/pexels-photo-97077.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load") center/cover;
    color: #fff;
    text-align: center;
    padding: 100px;
    font-size: 3.5rem;
    background-attachment: fixed;
}

@media (max-width: 768px) {
    #home {
        padding: 50px; /* Adjust padding for smaller screens */
        font-size: 2rem; /* Adjust font size for smaller screens */
    }
}

#home:hover h1 {
  transform: translateY(0);
  opacity: 1;
  color: #ff6600;
  text-decoration: underline;
}

#home:hover p {
  transform: translateY(0);
  opacity: 1;
  color: #fff;
}

h1,
#homep {
  font-size: 36px;
  color: #333;
  transform: translateY(-50px);
  opacity: 0;
  transition: transform 1s ease, opacity 1s ease;
}

#homep {
  font-size: 18px;
  color: #666;
  transform: translateY(50px);
}

#home p {
  font-size: 1.5rem;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
}

#home::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("https://images.pexels.com/photos/574069/pexels-photo-574069.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"); 
  background-size: cover; 
  background-position: center; 
  z-index: -1;
  opacity: 0.5; 
}

body {
  font-family: Arial, sans-serif;
  background: #f0f0f0;
  margin: 0;
}

header,
nav {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

nav {
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav a::before {
  content: "";
  position: absolute;
  inset: auto 0 0;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

nav a:hover::before {
  transform: scaleX(1);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  transition: color 0.3s;
}

a:hover {
  color: #a70c88;
}

.projectlink {
  color: #a70c88;
}

section {
  padding: 20px;
  background: #fff;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

footer {
  text-align: center;
  padding: 10px;
  background: #333;
  color: #fff;
}
