#home {
    background-image: url('https://images.pexels.com/photos/303383/pexels-photo-303383.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); /* Replace with your own image */
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 120px 0;
    font-size: 3.5rem;
    margin-top: 0;
}


#home p {
    font-size: 1.5rem;
    line-height: 1.6;
    max-width: 800px; 
    margin: 0 auto; 
}

#home h1, #home p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Add a semi-transparent background color to improve text readability */
#home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1; /* Place it behind the text */
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

section {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}